.hero {
    margin: 8vh 0;
}

.container {
    padding: 3vh 10%;
}

.top {
    background-color: #101935;
    color: #F2FDFF;
}

.bottom {
    background-color: #9AD4D6;
}

.bold {
    font-weight: bold;
}

.landingPageSearch {
    display: flex;
    justify-content: center;
}

.landingPageSearch button {
    height: 24px;
}

@media (min-width: 375px) {
    .information {
        position: absolute;
        bottom: 0;
    }
}