.hero {
    margin: 15vh 0;
}

.container {
    padding: 5%;
}

.top {
    background-color: #101935;
    color: #F2FDFF;
}

.bottom {
    background-color: #9AD4D6;
}

.bold {
    font-weight: bold;
}

.landingPageSearch {
    display: flex;
    justify-content: center;
}