.searchContainer {
    position: absolute;
    top: 17px;
    right: 35px;
    display: flex;
    z-index: 1;
}

.searchContainer button {
    /* color: gainsboro; */
    background-color: white;
    height: 24px;
}