.map {
    z-index: -1;
}

.result {
    padding: 10px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

.filterContainer {
    position: absolute;
    top: 0;
    text-align: left;
    width: 75%
}