.websiteLink p{
    display: inline
}

.websiteLink a{
    color: #F2FDFF;
    word-wrap: break-word;
}

.times {
    position: absolute;
    background-color: transparent;
    color: #F2FDFF;
    top: 10px;
    right: 5px;
    border: none;
}

address {
    margin: 1em 0;
}